<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key='maxHttpRequestsPerSource' value='16' />
  </config>
  <packageSources>
    <clear />
    <add key="nexus-hosted" value="https://nexus.hasti.co/repository/nuget/" />
    <add key="nexus-proxy" value="https://nexus.hasti.co/repository/nuget.org-proxy/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <nexus-hosted>
      <add key="Username" value="cicd" />
      <add key="ClearTextPassword" value="kh93NxVqKPfeVE6J" />
    </nexus-hosted>
  </packageSourceCredentials>
  <packageSourceCredentials>
    <nexus-proxy>
      <add key="Username" value="cicd" />
      <add key="ClearTextPassword" value="kh93NxVqKPfeVE6J" />
    </nexus-proxy>
  </packageSourceCredentials>
</configuration>