apiVersion: v1
kind: Service
metadata:
  name: frontend-$SERVICE_NAME
  namespace: $BRANCHE_NAME
spec:
  ports:
    - port: 80
      targetPort: $TARGET_PORT
      name: api
  selector:
    app.kubernetes.io/name: frontend-$SERVICE_NAME-$BRANCHE_NAME